.sidebar 
  .logo-area.text-center elzero
  ul.links-area.list-unstyled
    li: a(href="#") homepage
    li
      a(href="#") 
       |forms
      i.fas.fa-angle-right.toggle-submenue
      ul.child-links.list-unstyled.hide
        li: a(href="#") input
        li: a(href="#")  textarea
        li: a(href="#") checkbox
        li: a(href="#") Radio
    li
      a(href="#") 
       |misk
      i.fas.fa-angle-right.toggle-submenue  
      ul.child-links.list-unstyled.hide
        li: a(href="#") loading
        li: a(href="#")  breadcrumbs
         




