$themes: (
    green-theme: (color:#27ae60),
    blue-theme: (color:#2980b9),
    orange-theme: (color:#d35400)

);
@each $theme, $map in $themes {

    .#{ $theme}{
        .page .page-head .page-title {
            color: map-get($map, color);
        }
    }
    
}