*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
i
{
    font-family:font-awesome !important;
}
body
{
min-height: 100vh;
}
.page
{
    min-height: 100vh;
    .content-area
    {
        width: calc(100%-250px);
        min-height: 100%;
        transition: .3s;
        background-color: #f2f1f6;

        will-change: width;
        &.no-sidebar
        {
            width: 100%;
        }
    }
}