.header
{
    background-color: #fff;
    padding: 15px;
    padding: 15px;
    margin-left: 250px;
    .header-icon{

   padding: 10px;
        border-radius: 50%;
        color: #555;
        background-color: #f9f9f9;
        cursor: pointer;
        margin-left: 10px;
    }
    .toggle-class{
        cursor: pointer;
    }
    .notification-container
    {
        display: inline-block;
        margin-left: 20px;
        
    .dropdown-menu
    {
        min-width: 600px;
        
        border: none;
        &:before
        {content: '';
            position: absolute;
            top:-12px;
            left: 10px;
            border-style: solid;
            border-width: 10px;
            border-color: transparent  transparent #333 transparent;
        }

        .noti-header
        {
background-color: #333;
color: #fff;
padding: 10px;
span{
float: right;

}

        }
        .noti-content  {
            ul{
            padding-top: 20px;
            }
            li {
                padding: 10px;
            };
            i {
                padding: 10px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #eee;
                text-align: center;
                line-height: 26px;
            }
        }
        .noti-foot{
            text-align: center;
            a {
                display: block;
                padding: 10px;
                border-top: 1px solid #eee;
                &:hover{
                text-decoration: none;
                }
            }
        }

    }

        
    }
    .usermenu-container
    {
        float: right;

        .username{
            cursor: pointer;

            .avatar
            {
                width: 40px;
                height: 40px;
                
            }
            .user{
                font-weight: bold;
                color: #777;
                margin-right: 10px;
                margin-left: 10px;

            }
        }
        .dropdown-menu
    {
        min-width: 600px;
        border: none;
        padding: 0;
        top:10px !important;
        border: 1px solid #ddd;
        &:before
        {
            content: '';
            position: absolute;
            top:-10px;
            
            right: 20px;
            border-style: solid;
            border-width: 10px;
            border-color: transparent  transparent #333 transparent;
        }
        .user-info
        {
 h3{
     font-weight: bold;
     

 }
 p{
     color: #888;

 }
        }
        .activites-list
        {
            li {
                padding: 10px;

            }

        }
        .user-menu-links
        {
            .link-box
            {
                background-color: #fff;
                padding: 10px 15px;

                border-radius: 6px;
                text-align: right;
                border: 1px solid #f3f3f3;
                i {
                    float: left;
                    position: relative;
                    top:5px;
                    &.fa-gear
                    {
                        color:#2980b9
                    }
                    &.fa-user
                    {
color: #16a085;
                    }
                    &.fa-power-off
                    {
color: #c0392b;
                    }

                }

            }

        }

    }
}
}